<div id="buttons">
  <ng-container *ngFor="let entry of model; let i=index;">
    <div id="col">
      <button (click)="display(i)">{{entry.ageName}}</button>
    </div>
  </ng-container>
</div>

<div id="descriptions">
  <ng-container *ngFor="let entry of model; let i=index;">
    <ng-container *ngIf="toDisplay == i">
      <ng-container *ngFor="let desc of entry.descriptions">
        <div id="col">
          <p>{{desc}}</p>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>